# ignore all files initially
/*

### track the files below ###

# ~/
!.gitignore
!.bashrc
!.imwheelrc
!.xinitrc
!/.icons
!/.themes

## ~/.xmonad
!/.xmonad
/.xmonad/*
!/.xmonad/xmonad.hs
!/.xmonad/xmonad.org

## ~/.doom.d
!/.doom.d

## ~/.config 
!/.config
/.config/*
!/.config/xmobar
!/.config/alacritty
!/.config/fish
!/.config/mpd
!/.config/ncmpcpp
!/.config/rofi

### ~/.config/retroarch
!/.config/retroarch
/.config/retroarch/*
!/.config/retroarch/retroarch.cfg

### ~/.config/retroarch
!/.config/qtile
/.config/qtile/__pycache__
/.config/qtile/settings/__pycache__

### ~/media/pictures/wallpapers/tracked_wallpapers
!/media/
/media/*
!/media/pictures
/media/pictures/*
!/media/pictures/wallpapers
/media/pictures/wallpapers/*
!/media/pictures/wallpapers/tracked_wallpapers
