[submodule "provision/void"]
	path = provision/void
	url = https://github.com/starr-dusT/provision-void.git
[submodule "provision/fedora"]
	path = provision/fedora
	url = https://github.com/starr-dusT/provision-fedora.git
    branch = master
