! doom-old-hope
*bg: #1c1d20
*bg-alt: #151619
*base0: #1B2229
*base1: #1c1f24
*base2: #202328
*base3: #23272e
*base4: #3f444a
*base5: #5B6268
*base6: #686b78
*base7: #9ca0a4
*base8: #DFDFDF
*fg: #cbccd1
*fg-alt: #5B6268
*grey: #3f444a
*red: #ea3d54
*orange: #ee7b29
*green: #78bd65
*teal: #78bd65
*yellow: #fedd38
*blue: #4fb3d8
*dark-blue: #5689f0
*magenta: #b978ab
*violet: #b978ab
*cyan: #4fb3d8
*dark-cyan: #4fb3d8