.oh-my-zsh/cache/**
readme.md
.gitignore
.git
provision
additional-setup.md
.gen

{{ if eq .chezmoi.os "darwin" }}
bin
.bash_profile
.bashrc
.local
.nbrc
.taskopenrc
.taskrc
.config/vdirsyncer
.config/i3
.config/polybar
{{ end }}

{{ if eq .chezmoi.os "android" }}
*
.config/nvim
{{ end }}
