[data.colors]
bg = "#1d1d20"
fg = "#ffffff"
accent = "#3584e4"
blue = "#3584e4"
teal = "#2190a4"
green = "#3a944a"
yellow = "#c88800"
orange = "#ed5b00"
red = "#e62d42"
pink = "#d56199"
purple = "#9141ac"
slate = "#6f8396"
