# https://github.com/starr-dusT/dotfiles
# Global .gitconfig

{{ if .work }}
[user]
    email = tyler.starr.1@us.af.mil 
    name = Tyler Starr

[github]
    user = "tstarr"
{{ else }}
[user]
    email = starrtyler88@gmail.com
    name = Tyler Starr

[github]
    user = "starr-dusT"

[core]
    sshCommand = "ssh -i ~/.ssh/keys/github_personal"
{{ end }}
