Host github.com
  AddKeysToAgent yes
  IdentityFile /run/agenix/git/github_personal 

Host fm2120.rsync.net
  AddKeysToAgent yes
  IdentityFile /run/agenix/borg/rsync/id_rsa
{{ if eq .chezmoi.hostname "kestrel" }}
Host torus
  AddKeysToAgent yes
  IdentityFile /run/agenix/ssh/kestrel/id_ed25519 

Host bulwark 
  AddKeysToAgent yes
  IdentityFile /run/agenix/ssh/kestrel/id_ed25519 
{{- end }}
{{- if eq .chezmoi.hostname "torus" }}
Host kestrel
  AddKeysToAgent yes
  IdentityFile /run/agenix/ssh/torus/id_ed25519 

Host bulwark 
  AddKeysToAgent yes
  IdentityFile /run/agenix/ssh/torus/id_ed25519 
{{- end }}
