# general settings
auto-reload yes

# externel browser
browser "/run/current-system/sw/bin/w3m %u"
macro m set browser "/run/current-system/sw/bin/mpv --ytdl-format=best --really-quiet --no-terminal %u &"; open-in-browser ; set browser "/run/current-system/sw/bin/w3m %u"
macro b set browser "/run/current-system/sw/bin/chromium-browser %u"; open-in-browser ; set browser "/run/current-system/sw/bin/w3m %u"

# Unbind keys
unbind-key ENTER
unbind-key j
unbind-key k
unbind-key J
unbind-key K

# Bind keys - vim style
bind-key j down
bind-key k up
bind-key l open
bind-key h quit

# Colors
#color background         default   default
#color listnormal         default   default
#color listnormal_unread  default   default
#color listfocus          black     cyan
#color listfocus_unread   black     cyan
#color info               default   black
#color article            default   default

# Highlights
highlight article "^(Title):.*$" blue default
highlight article "https?://[^ ]+" red default
highlight article "\\[image\\ [0-9]+\\]" green default

# Freshrss setup

freshrss-login "tstarr"
freshrss-password "{{ (secret "/run/secrets/homelab/tstarr") }}"
freshrss-url "https://rss.tstarr.us/api/greader.php"
urls-source "freshrss"
