/* Colors */
@define-color bg {{ .themes.gruvbox.bg0 }};
@define-color bg2 {{ .themes.gruvbox.bg1 }};
@define-color bg3 {{ .themes.gruvbox.bg2 }};
@define-color fg {{ .themes.gruvbox.fg }};
@define-color red {{ .themes.gruvbox.red }};
@define-color green {{ .themes.gruvbox.green }};
@define-color yellow {{ .themes.gruvbox.yellow }};
@define-color blue0 {{ .themes.gruvbox.blue0 }};
@define-color blue1 {{ .themes.gruvbox.blue1 }};
@define-color purple0 {{ .themes.gruvbox.purple0 }};
@define-color purple1 {{ .themes.gruvbox.purple1 }};
@define-color cyan {{ .themes.gruvbox.cyan }};

* {
    font-family: JetBrains Mono, Symbols Nerd Font Mono;
    font-size: 12px;
    border-radius: 0;
    border: none;
}
tooltip {
  background: @bg;
}

window#waybar {
   /* background-color: rgba(16, 20, 25,0.5); */
    background-color: @bg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    min-width: 20px;
    color: @fg;
    padding: 0 5px;
}

#workspaces button.visible {
    background-color: @purple1;
}

#workspaces button.urgent {
    background-color: @red;
}

#submap {
    background-color: @blue1;
    padding: 0 5px;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#pulseaudio#mic,
#custom-swayidle,
#mode {
    padding: 0 6px;
}

#window {
    color: @yellow;
    padding: 0 10px;
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#clock {
    color: @fg;
    padding: 0 10px;
    border-radius: 0px;
}

#cpu {
    color: @fg;
}

#custom-disk {
    color: @fg;
}

#memory {
    color: @fg;
}

#network {
    color: @fg;
}

#network.disconnected {
    color: @red;
}

#pulseaudio {
    color: @fg;
}

#pulseaudio.mic {
  color: @fg;
}

#custom-swayidle {
    color: @fg;
}

#custom-mouse {
    color: @fg;
}

#tray {
    padding: 0 6px;
}


#scratchpad {
    color: @fg;
    padding: 0 10px;
}

#scratchpad.empty {
	background-color: transparent;
}
