sort=-time
layer=overlay
background-color={{ .themes.gruvbox.bg0 }}
text-color={{ .themes.gruvbox.fg }}
width=300
height=110
border-size=2
border-radius=5
icons=0
max-icon-size=64
default-timeout=5000
ignore-timeout=1
font=monospace 10
anchor=top-center

[urgency=low]
border-color={{ .themes.gruvbox.green }}

[urgency=normal]
border-color={{ .themes.gruvbox.yellow }}

[urgency=high]
border-color={{ .themes.gruvbox.red }}
default-timeout=0
